@import '../../assets/styles/variables';

.skills {
    margin-top: 2rem;
  
    .skills-list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 1rem;
    
        &__item {
            text-transform: capitalize;
        //    background-color: red;
            padding: .3rem .8rem;
            background-color: $secondary-color;
            border-radius: 2rem;
            &--label {
    
            }
        }
    }
}
