@import '../../assets/styles/variables.scss';
.profile {
    grid-column: 1 / 3;
    border-radius: 2rem;
    

    &__background {
        height: 12rem;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        

        .img {
            width: 100%;
            height: 100%;
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;
        }
    }  

    &__info {
        padding: 0 1rem;

        &--primary {
            display: flex;
            align-items: center;
            gap: 1rem;
            


            .followers, .following {
                font-size: 1.5rem;
                text-align: center;
                font-weight: 550;
                margin-top: -2rem;

                display: flex;
                flex-direction: column;
                align-items: center;

                &__label {
                    text-align: center;
                    margin-top: -1rem;
                    color: $dark-white;
                }
            }

            .profile-image {
                width: 10rem;
                height: 11rem;
                margin-top: -4rem;
                border-radius: 2rem;
                border: .4rem solid $thirtialy-color;
             
                .img {
                    width: 100%;
                    height: 100%;
                    border-radius: 2rem;
                }
            }

        }
    }

    &__about {
        font-style: italic;
        font-size: 1.5rem;
        border-bottom: .1rem solid $thirtialy-color;
        padding-bottom: 2rem;
        margin: 1rem auto;
        width: 95%;

        display: flex;
        align-items: center;

        &--text {
            color: $dark-white;
            text-align: center;
            line-height: 1.4;
        }
    }

    &__edit {
        display: flex;
        align-items: center;
        justify-content: center;


        &--btn {
            color: $white;
            font-weight: 550;
            text-align: center;
            text-transform: capitalize;
            width: 25rem;
            margin-bottom: 2rem;
            cursor: pointer;
        }
    }
}