@import "../../assets/styles/variables.scss";
.auth {
    grid-column: full-start  / full-end;
    background-color: $primary-color;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;


    .sign-up {
        background-color: $secondary-color;
        width: 40rem;
        height: 40rem;
        text-align: center;
        border-radius: 1rem;

        display: grid; 
        place-items: center;

        &__form {
            width: 100%;
            padding: 1rem;

            &--input {
                width: 100%;
                margin-top: 1rem;
                display: flex;
                align-items: center;
                gap: 1rem;

                .input {
                    width: 100%;
                    background-color: $thirtialy-color;
                    padding: 1rem;
                    outline: none;
                    border: none;
                    color: $white;
                    border-radius: 2rem;
                }
            }
        }

        &__submit-btn {
            margin-top: 2rem;
            border: none;
            outline: none;
            padding: 1rem 2rem;
            border-radius: 2rem;
            cursor: pointer;
        }

   
        &__with-social-media {
           display: flex;
           align-items: center;
           gap: 3rem;
            .icon {
                width: 4rem;
                height: 4rem;
                fill: $white;
                cursor: pointer;
    
            }
        }
    }

}