@import '../../assets/styles/variables.scss';
.post {
    grid-column: 3 / 9;

    &__status {
        display: flex;
        align-items: center;
        gap: 4rem;
        
        margin-bottom: 2rem;
        overflow-y: scroll;
        padding-bottom: 2rem;

        &::-webkit-scrollbar {
            width: 0rem;
            height: .5rem;
            cursor: pointer;
          }
         
          &::-webkit-scrollbar-track {
            background-color: $primary-color;
            -webkit-border-radius: 1rem;
            border-radius: 1rem;
          }
        
          &::-webkit-scrollbar-thumb {
            cursor: pointer;
            -webkit-border-radius: 1rem;
            border-radius: 1rem;
            background: $secondary-color; 
          }

        &--item {
            min-width: 8rem;
            height: 8rem;
            background-color: $secondary-color;
            border-radius: 2rem;
            border: .3rem solid $secondary-color;
            cursor: pointer;
            .img {
                width: 100%;
                height: 100%;
                border-radius: 2rem;
            }
        }
    }

    &__upload {
        margin-bottom: 1rem;

        &--item {
            padding: 1rem;
            width: 100%;

            .profile-input {
                display: flex;
                align-items: center;
                gap: 1rem;

                .profile {
                    height: 6rem;
                    width: 6rem;
                    border-radius: 50%;
                    border: .3rem solid $thirtialy-color;

                    .img {
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                    }
                }

                .input {
                    height: 5rem;
                    font-family: sans-serif;
                    background-color: $primary-color;
                    color: $white;
                    padding: 1rem;
                    width: 95%;
                    border-radius: 2rem;
                    border: none;
                    outline: none;
                    font-size: 1.6rem;
                    line-height: 1.3;

                    &::-webkit-scrollbar {
                        width: 0rem;
                        height: .5rem;
                        cursor: pointer;
                      }
                     
                      &::-webkit-scrollbar-track {
                        background-color: $secondary-color;
                        -webkit-border-radius: 1rem;
                        border-radius: 1rem;
                      }
                    
                      &::-webkit-scrollbar-thumb {
                        cursor: pointer;
                        -webkit-border-radius: 1rem;
                        border-radius: 1rem;
                        background: $secondary-color; 
                      }

                    &::placeholder {
                        font-family: sans-serif;
                        font-size: 1.5rem;
                    }
                }
            }

            .upload-functionalities {
                margin-left: 7.5rem;
                margin-top: 1rem;

                display: flex;
                align-items: center;
                justify-content: space-between;

                &__upload-btns {
                    display: flex;
                    align-items: center;
                    gap: 2rem;
    
                    .upload-video, .upload-image {
                        font-weight: 550;
                        padding: .5rem 1rem;
                        border-radius: 2rem;
                        cursor: pointer;
                        border: .1rem solid $thirtialy-color;

                        display: flex;
                        align-items: center;
                        gap: 1rem;
    
                        .video-icon {
                            width: 2.5rem;
                            height: 2.5rem;
                        }
    
                        .image-icon {
                            width: 2.5rem;
                            height: 2.5rem;
                        }
                    }

                }

                .post-btn {
                    font-weight: 550;
                    text-transform: capitalize;
                    padding: .5rem 2rem;
                    border-radius: 2rem;
                    cursor: pointer;
                    border: .1rem solid $thirtialy-color;
                }
            }
            
        }
    }


    &__list {
        height: 80rem;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            width: 0rem;
          }
         
          &::-webkit-scrollbar-track {
            background-color: #ebebeb;
          }
        
          &::-webkit-scrollbar-thumb {
            -webkit-border-radius: 1rem;
            border-radius: 1rem;
            background: #ebebeb; 
          }

        &--item {
            margin-bottom: 1rem;
            padding: 2rem;
            
            .post-profile {
                display: flex;
                align-items: center;
                justify-content: space-between;
                
                &__info {
                    display: flex;
                    align-items: center;
                    gap: 1rem;


                    &--details {
                        display: flex;
                        flex-direction: column;

                        .username {
                            text-transform: capitalize;
                            font-weight: 550;
                            cursor: pointer;
                        }

                        .post-timestamp {
                            font-size: 1.5rem;
                            color: $dark-white;
                            margin-top: -.5rem;
                        }    

                    }
                    
                    &--image {
                        width: 6rem;
                        height: 6rem;
                        border-radius: 50%;
                        border: .4rem solid $thirtialy-color;
                        
                        .img {
                            width: 100%;
                            height: 100%;
                            border-radius: 50%;
                        }
                    }
                }
                
                &__options {
                }
            }  
            
            .post-content {
                margin-top: 1rem;

                &__description {
                    margin-bottom: 3rem;
                }

                &__media {
                    height: 40rem;
                    width: 100%;
                    border-radius: 2rem;
                    .img {
                        width: 100%;
                        height: 100%;
                        border-radius: 2rem;
                    }
                }
            }
            
            .post-comment {
                // background-color: red;
                margin-top: 2rem;

                &__profile {
                    display: flex;
                    align-items: center;
                    gap: 1rem;

                    &--image {
                        width: 6rem;
                        height: 6rem;
                        border-radius: 50%;
                        border: .4rem solid $thirtialy-color;

                        .img {
                            width: 100%;
                            height: 100%;
                            border-radius: 50%;
                        }
                    }
                }


                &__input {
                    width: 100%;
                    .input {
                        width: 100%;
                        background-color: $thirtialy-color;
                        border: none;
                        outline: none;
                        border-radius: 2rem;
                        padding: 1rem;

                    }
                    
                }

                &__reactions {
                    display: flex;
                    align-items: center;
                    gap: 2rem;
                    margin-bottom: 1rem;


                    .reaction {
                        display: flex;
                        align-items: center;
                        gap: .3rem;
                        border: .1rem solid $thirtialy-color;
                        padding: .5rem 1rem;
                        border-radius: 2rem;
                        cursor: pointer;

                        &__icon {
                            width: 2.5rem;
                            height: 2.5rem;
                            fill: $dark-white;
                        }

                        &__count {
                            font-weight: 550;
                        }
                    }

                }
            }
        }
    }
}

