@import '../assets/styles/variables.scss';
.home {
    grid-column: col-start 1 / col-end;

    // display: flex;
    // justify-content: space-between;

    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 1rem;

    min-height: 100vh;
    margin-top: 2rem;

    .personal {
        grid-column: 1 / 3;
    }

    .post {
        grid-column: 3 / 8;
    }

    .activities {
        grid-column: 8 / -1;
    }    
}