@import '../../assets/styles/variables.scss';

.activities {
    background-color: $secondary-color;
    grid-column: 9 / -1;
    border-radius: 1rem;
    padding: 1rem;
    min-height: 40rem;
    

    &__heading {
        text-transform: capitalize;
        text-transform: 450;
        font-weight: 600;
    }

    .trend-list {
        margin-top: 2rem;
        &__item {
            padding: .3rem 1rem;
            border: .1rem solid $thirtialy-color;
            border-radius: 2rem;
            cursor: pointer;
            margin-bottom: 1rem;

            display: flex;
            align-items: center;
            justify-content: space-between;
            
            .trends {
                
                .trends-header {
                font-weight: 550;
            }

                .trends-count {
                    color: $dark-white;
                }
            }

        


        }
    }

}    