@import '../../assets/styles/variables.scss';
.post {
    grid-column: 3 / 9;

    [class^="number-slide"],
    [class*=" number-slide"] {
    // background: red;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: #fff;
    font-weight: 500;
    height: 8rem;
    width: 8rem;
    // width: 30px !important;
    max-height: 100vh;
    }


    &__status {
        display: flex;
        align-items: center;
        gap: 4rem;
        
        margin-bottom: 2rem;

        .username {
            text-transform: capitalize;
        }
        
        

        
        &--item {
            width: 8rem !important;
            height: 8rem;
            background-color: $secondary-color;
            border-radius: 2rem;
            border: .3rem solid $secondary-color;
            
            .img {
                // width: 100%;
                // height: 100%;
                border-radius: 2rem;
            }
        }
    }

    &__upload {
        margin-bottom: 2rem;

        &--item {
            padding: 1rem;

            .profile-input {
                display: flex;
                align-items: center;
                gap: 2rem;

                .profile {
                    height: 6rem;
                    width: 7rem;
                    border-radius: 50%;
                    border: .3rem solid $thirtialy-color;

                    .img {
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                    }
                }

                .input {
                    background-color: $primary-color;
                    color: $white;
                    padding: 1rem;
                    width: 100%;
                    border-radius: 2rem;
                    border: none;
                    outline: none;
                    font-size: 1.6rem;
                }
            }

            .upload-functionalities {
                margin-left: 8.5rem;
                margin-top: 1rem;
                display: flex;
                align-items: center;
                gap: 2rem;

                .upload-video, .upload-image {
                    padding: .5rem 1rem;
                    border-radius: 2rem;
                    cursor: pointer;
                    background-color: $primary-color;

                    display: flex;
                    align-items: center;
                    gap: 1rem;

                    .video-icon {
                        width: 3rem;
                        height: 3rem;
                    }

                    .image-icon {
                        width: 3rem;
                        height: 3rem;
                    }
                }
            }
            
        }
    }


    &__list {
        height: 60rem;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            width: 0rem;
          }
         
          &::-webkit-scrollbar-track {
            background-color: #ebebeb;
            // -webkit-border-radius: 1rem;
            // border-radius: 1rem;
          }
        
          &::-webkit-scrollbar-thumb {
            -webkit-border-radius: 1rem;
            border-radius: 1rem;
            background: #ebebeb; 
          }

        &--item {
            margin-bottom: 1rem;
            // height: 50rem;
            padding: 2rem;
            
            .post-profile {
                display: flex;
                align-items: center;
                justify-content: space-between;
                
                &__info {
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    
                    &--image {
                        width: 4rem;
                        height: 4rem;
                        border-radius: 50%;
                        
                        .img {
                            width: 100%;
                            height: 100%;
                            border-radius: 50%;
                        }
                    }

                    &--username {
                        font-size: 1.7rem;
                        font-weight: 550;
                        text-transform: capitalize;
                    }
                }
                
                &__options {
                    // background-color: blue;
                }
            }

            .post-timestamp {
                font-size: 1.5rem;
                color: $dark-white;
                margin-left: 5rem;
                margin-top: -1.3rem;
            }      
            
            .post-content {
                // margin-left: 5rem;

                &__description {
                    margin-bottom: 2rem;
                }

                &__media {
                    height: 40rem;
                    width: 100%;
                    border-radius: 2rem;
                    .img {
                        width: 100%;
                        height: 100%;
                        border-radius: 2rem;
                    }
                }
            }
            
            
        }
    }
}

