.App {
  background-color: #282c34;
  height: 100vh;
  color: #fff;
  padding: 100px;
}


.table {
  border: 1px solid #fff;
  width: 700px;
  margin: 0 auto;
}
thead {
  padding: 10px;

}


td {
  padding: 10px;
  border-right: 1px solid #fff;
  background-color: #44464a;
}

th:not(:last-child) {
  border-right: 1px solid #fff;
}

th {
  border-bottom: 1px solid #fff;
  padding: 10px;
}
