.App {
  background-color: #282c34;
  height: 100vh;
  color: #fff;
  padding: 100px;
}


.table {
  border: 1px solid #fff;
  width: 700px;
  margin: 0 auto;
}
thead {
  padding: 10px;

}


td {
  padding: 10px;
  border-right: 1px solid #fff;
  background-color: #44464a;
}

th:not(:last-child) {
  border-right: 1px solid #fff;
}

th {
  border-bottom: 1px solid #fff;
  padding: 10px;
}

.form {
  margin: 0 auto;
  width: 500px;
}

.input {
  width: 400px;
  padding: 10px;
  margin-bottom: 30px;
  margin-right: 10px;
  
}

.submit-btn {
  width: 70px;
  padding: 10px;
  margin-bottom: 30px;
}