@import "./assets/styles/mixin.scss";
@import "./assets/styles/variables.scss";

//prefix
*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    line-height: 1.7;
    box-sizing: inherit;
}

body {
    &::-webkit-scrollbar {
        width: 1rem;
      }
     
      &::-webkit-scrollbar-track {
        background-color: #ebebeb;
        -webkit-border-radius: 1rem;
        border-radius: 1rem;
      }
    
      &::-webkit-scrollbar-thumb {
        -webkit-border-radius: 1rem;
        border-radius: 1rem;
        background: #ebebeb; 
      }
}

// responsive design
html {
    box-sizing: border-box;
    font-size: 62.5%; //10px/16px = 62.5% i.e 1rem = 10px//
    font-weight: 360;

    @include respond (tab-land) {
        font-size: 56% ; // 1rem = 9px / 16px = 56%
    }
    @include respond (tab-port) {
        font-size: 50% ;  // 1rem = 8px / 16px = 50%
    }
    @include respond (big-desktop) {
        font-size: 75%; // 1rem = 12px / 16 = 75%
    }
}

.link:before, .link:after, .link:visited {
    text-decoration: none;
}


.container {
  display: grid;
  grid-template-columns: [full-start]5rem 1fr repeat(8,[col-start] minmax(min-content, 18rem))[col-end] 1fr  5rem[full-end];
  background-color: $primar-color;;
  position: relative;
  height: 100vh;
  color: $white;
  font-size: 1.6rem;

}

.app-icon {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}